body{
font-family:'Inter',sans-serif;
background:#0f172a;
color:white;
margin:0;
}

/* LAYOUT */

.dashboard{
display:grid;
grid-template-columns:240px 1fr;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
background:#020617;
padding:30px 20px;
}

.logo{
font-size:22px;
font-weight:600;
margin-bottom:40px;
}

.menu{
list-style:none;
padding:0;
}

.menu li{
padding:12px;
color:#94a3b8;
cursor:pointer;
border-radius:6px;
}

.menu li.active{
background:#022c22;
color:#22c55e;
}

/* MAIN */

.main{
padding:25px 30px;
max-width:1200px;   /* ⭐ important center */
margin:auto;        /* ⭐ center align */
width:100%;
}

/* TOPBAR */

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.topbar input{
padding:10px 14px;
border-radius:6px;
border:none;
background:#1e293b;
color:white;
}

.user img{
border-radius:50%;
}

/* CARDS */

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-bottom:25px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:12px;
}

/* CHART */

.chart-container{
background:#1e293b;
padding:20px;
border-radius:12px;
margin-bottom:25px;
height:320px;
}

.chart-container h3{
margin-bottom:15px;
}

canvas{
width:100% !important;
height:100% !important;
}

/* TABLE */

.table-container{
background:#1e293b;
padding:20px;
border-radius:12px;
overflow-x:auto;
}

table{
width:100%;
border-collapse:collapse;
min-width:600px;
}

th,td{
padding:14px;
text-align:left;
}

th{
color:#94a3b8;
}

tr{
border-bottom:1px solid #334155;
}

/* STATUS BADGES */

.status{
padding:5px 12px;
border-radius:20px;
font-size:12px;
font-weight:600;
display:inline-block;
}

.active{
background:rgba(34,197,94,0.15);
color:#22c55e;
}

.pending{
background:rgba(245,158,11,0.15);
color:#f59e0b;
}

.churned{
background:rgba(239,68,68,0.15);
color:#ef4444;
}

/* MOBILE */

@media(max-width:768px){

.dashboard{
grid-template-columns:1fr;
}

.sidebar{
display:none;
}

.main{
padding:20px;
}

.cards{
grid-template-columns:1fr;
}

.chart-container{
height:280px;
}

}


/* FILTER + BUTTON */

#statusFilter{
padding:8px;
border-radius:6px;
background:#1e293b;
color:white;
border:none;
margin-left:10px;
}

#themeToggle{
margin-left:10px;
padding:8px 12px;
border:none;
border-radius:6px;
background:#3b82f6;
color:white;
cursor:pointer;
}

/* LIGHT MODE */

[data-theme="light"]{
background:#f1f5f9;
color:#0f172a;
}

[data-theme="light"] .card,
[data-theme="light"] .chart-container,
[data-theme="light"] .table-container{
background:white;
color:#0f172a;
}

[data-theme="light"] .sidebar{
background:#e2e8f0;
}

[data-theme="light"] .menu li{
color:#334155;
}
